@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Sayfa yapımcısı : Muharrem ÖLÜRDÖNMEZ</h3>
    <hr />
    <p>Bu sayfa INTERNET PROGRAMCILIĞI dersi kapsamında vize ve final projesi olarak hazırlanmıştır. </p>
    <p>Bu site cookie bazlı veri çekme ve işlem ile birlikte Identıty methodu ile kulanıcı bilgilerini almada ve kullanmada yararlanmıştır.</p>
    <p>Veri tabanı bağlantıları ve kullanımları SQL server ile ilişkilidir.</p>
    <p>Ürün ve categoriy tabloları birbiryle ilişkilidir.</p>
    <p>Ürünler sayfası sayfa mantiği ile yapılmış olup belirli sayıda ürün gösterir.</p>

</div>
